audio {
  display: inline-block;
  height: 40px;
  width: calc(100% - 100px);
}

canvas {
  width: 100%; 
  height: 100%; 
  display: block;
  margin: 0 auto;
}

label, button {
  background: #f0f0f0;
  border: 1px solid #999;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 10px 0;
  padding: 8px 40px;
  vertical-align: top;
}

label input {
  display: none;
}

.info {
  display: inline-block;
  float: right;
  margin: 15px 20px 0;
}